.jetbrains-mono {
  font-family: "JetBrains Mono", monospace;
  font-optical-sizing: auto;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav-links a {
  text-decoration: none;
  color: #000;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  width: 80%;
  margin: 0 auto;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 32px;   
  color: #000000;
}

.nav-links a:hover {
  text-decoration: underline;
}

.btn{
    padding: 12px 16px;
    border: none;
    border-radius: 5px;
    background-color: #469165;
    font-weight: semibold;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
}

.btn:hover {
    background-color: #55b77c;
    transition: all 0.2s ease-in-out;
}

.primary-color{
    color: #469165;
}

.hero{
    background-image: url(./assets/hero-bg.png);
    background-size: cover;
    background-position: center;
    height: 674px;
}

.hero-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
    height: 100%;
    width: 770px;
    margin: 0 auto;
}

.hero-tagline{
    font-size: 16px;
    font-weight: semibold;
    color: #469165;
    text-align: center;
    background-color: #ffffff;
    padding: 8px 16px;
    border-radius: 32px;
}

.hero-content h1{
    font-size: 60px;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
}

.hero-description{
    font-size: 18px;
    font-weight: regular;
    color: #ffffff;
    text-align: center;
}

.btn-outline{
    padding: 12px 16px;
    border: 1px solid #ffffff;
    border-radius: 5px;
    background-color: transparent;
    font-weight: semibold;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
}

.btn-outline:hover {
    background-color: #ffffff;
    color: #469165;
    transition: all 0.2s ease-in;
}

.hero-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}


.notes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 64px 0;
    width: 80%;
    margin: 0 auto;
}

.notes-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
    margin-top: 32px;
}

.icon-wrap {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background-color: #469165; /* green background */
    display: flex;
    align-items: center;
    justify-content: center;
}

/* icon itself */
.icon-wrap img {
    width: 28px;
    height: 28px;
    object-fit: contain;
}

.notes-container div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 12px;
    height: 310px;
    width: 300px;
    border-radius: 5px;
    padding: 12px 16px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

.notes-container div p{
    color: #627382;
}

.second-brain{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 64px 0;
    width: 80%;
    margin: 0 auto;
}

.second-brain-content{
    display: flex;
    flex-direction: column;
    padding: 0 20px;
}

.second-brain-tagline{
    font-size: 16px;
    font-weight: semibold;
    color: #469165;
    margin-bottom: 24px;
}

.second-brain-content h2{
    font-size: 40px;
    font-weight: bold;
    color: #000000;
    margin-bottom: 24px;
}

.second-brain-description{
    font-size: 16px;
    font-weight: regular;
    color: #627382;
    margin-bottom: 24px;
}

.second-brain-features{
    list-style: none;
    padding: 0;
    margin: 0;

    display: flex;
    flex-direction: column;
    gap: 14px;
}

.second-brain-features li{
    display: flex;
    align-items: flex-start; 
    gap: 12px;
    font-size: 16px;
    color: #0B1B2B;
}


.second-brain-features li img{
    width: 20px;
    height: 20px;
    margin-top: 1px;         
    flex-shrink: 0;
}

.second-brain-cta{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F7F6F2;
    border-radius: 5px;
    gap: 24px;
    padding: 64px 0;
    width: 80%;
    margin: 0 auto;
}

.second-brain-cta-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 550px;
}

.second-brain-cta-content h2{
    font-size: 30px;
    font-weight: bold;
    color: #000000;

}

.second-brain-cta-description{
    font-size: 16px;
    font-weight: 400;
    color: #627382;
    text-align: center; 
}

.footer{
  background-color: #001931; 
  padding: 64px 0;
  margin-top: 64px;
}

.footer-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
    width: 80%;
    margin: 0 auto;
    padding-bottom: 32px;
    border-bottom: 1px solid #d0cece;
}

.footer-social{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
    color: #ffffff;
}

.footer-copyright{
    padding-top: 32px;
    font-size: 16px;
    color: #FAFAFA;
    text-align: center; 
}
